* {
    box-sizing: border-box;
}

header, footer {
    height: 200px;
    clear: both;
}

section {
    height: 800px;
    float: left;
    border:1px solid black;
    float: left;
}

.small {
    width: 20%;
}

.big {
    width: 40%;
}

